* {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

.header,
.hero-section,
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-box,
.hero-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    max-width: 1048px;
}

.header-box {
    align-items: center;
    width: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    justify-content: center;
}

.header-link {
    text-align: center;
}

.hero-box {
    padding: 80px 0;
    min-width: 0;
    gap: 40px;
}

.hero-text {
    flex: 1 1 400px;
    min-width: 0;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-subtitle,
.header-link a {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
}

.header-link a {
    text-decoration: none;
}

.hero-img {
    display: flex;
    flex: 0 1 600px;
    min-width: 0;
}

.hero-img-default {
    width:600px;
    height:225px;
    background-color: gray;
    align-content: center;
    text-align: center;
}

.hero-button,
.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    width: 105px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px 0;
    text-align: center;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width:140px;
    height:140px;
    border: 4px solid #3882F6;
    border-radius: 18px;
}

.info-text {
    width: 140px;
    padding: 5px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.quote-box {
    max-width: 825px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
}

.quotee {
    font-weight: bold;
    text-align: end;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 80px 80px;
}

.cta-box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #3882F6;
    border-radius: 5px;
    max-width: 1048px;
    padding: 20px;
}

.cta-title,
.cta-subtitle {
    color: #F9FAF8;
    margin-bottom: 5px;
}

.cta-button {
    border: 2px solid #F9FAF8;
    flex: 0 0 105px;
}

.footer-item {
    color: #F9FAF8;
    padding: 20px;
}